@model IEnumerable<HRISOnline.Objects.LeaveHRRegionalList>

@{
    ViewBag.Title = @ViewBag.MyTitle;
}

@*<div class="col-sm-12">*@
    <div class="alert text-center" id="msg"></div>

    <div class="panel panel-primary">
        @*<div class="panel-heading">
            <h3>@ViewBag.MyTitle</h3>
        </div>*@

        <div class="panel-body">            
            <table class="table table-bordered table-heading" id="leave-table">
                <thead>
                    <tr>
                        <th class="text-center" style="width:30px;">                         
                            <input type="checkbox" id="chk-all" />
                        </th>                        
                        <th class="text-center col-sm-1">Date Filed</th>
                        <th class="text-center col-sm-2">Date Covered</th>
                        <th class="text-center col-sm-1">Day(s)</th>
                        <th>Employee</th>
                        <th class="text-center col-sm-3">Branch</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                        <tr>
                             <td class="text-center">                                
                                <input type="checkbox" id="@item.intOlnLeaveApplicationHead" class="chk" />                                
                            </td>                            
                            <td class="text-center">@item.DateFiled</td>
                            <td class="text-center">@item.LeaveDates</td>
                            <td class="text-center">@item.NoOfDays</td>
                            <td>@item.EmpName</td>
                            <td>@item.BranchName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Cancel</button>
        </div>
    </div>
@*</div>*@

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Cancel Leave</h4>
      </div>
      <div class="modal-body">
        Do you want to cancel this transaction(s)?
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-success btn-lg" onclick="CancelLeaves();">&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">&nbsp;&nbsp;No&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#leave-table").dataTable({
                aaSorting: [[1, 'desc']],
                "columnDefs": [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }],
            });

            $('#msg').removeClass('active');
            $('#msg').addClass('hide');            

            $('#chk-all').on('click', function (ev) {
                $('.chk').prop('checked', $('#chk-all').prop('checked'));
            });
                       
        });
        

        function RedirectMe() {
            window.location.href = "@Url.Content("~/Leave/WholeRegion")";
        }

        function CancelLeaves() {

            $('#myModal').modal('hide');

            var id = { "details": [] };
            var sub = { "intOlnLeaveApplicationHead": "" };

            $('#leave-table > tbody > tr input[type="checkbox"]:checked').each(function () {
                var $row = $(this).attr('id'); //$(this).parents('tr');

                sub.intOlnLeaveApplicationHead = $row; //$row.find('td:eq(1)').html();
                id.details.push(sub);

                sub = { "intOlnLeaveApplicationHead": "" };
            });

            if (id.details.length == 0) {
                $('#msg').removeClass('hide');
                $('#msg').addClass('active');

                $('#msg').removeClass('bg-success');
                $('#msg').addClass('bg-danger');
                $('#msg').html("Please select atleast one(1) item.");
            }
            else {

                $.ajax({
                    url: '@Url.Action("CancelLeaveByBatch")',
                    data: JSON.stringify(id),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {

                        $('#msg').addClass('active');
                        $('#msg').removeClass('hide');

                        if (result.success == 'True') {
                            $('#msg').removeClass('bg-danger');
                            $('#msg').addClass('bg-success');
                            setTimeout('RedirectMe()', 2000);
                        }
                        else {
                            $('#msg').removeClass('bg-success');
                            $('#msg').addClass('bg-danger');
                        }

                        $('#msg').html(result.msg);

                    }
                });

            }

        }
    </script>
}