@model IEnumerable<HRISOnline.Objects.EmpApprovalNotification>

@{
    ViewBag.Title = @ViewBag.MyTitle;
}

    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-bordered table-heading" id="nt-table">
                <thead>
                    <tr>
                        <th class="col-sm-2 text-center">Type</th>
                        <th class="col-sm-1 text-center">Date Filed</th>
                        <th class="col-sm-2 text-center">Date/Time Covered</th>
                        <th class="col-sm-1 text-center">Duration</th>
                        <th>Remarks</th>
                        <th class="col-sm-1 text-center">Status</th>
                    </tr>                    
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                        <tr>
                            <td>@item.dType</td>
                            <td class="text-center">@item.DateFiled.ToShortDateString()</td>
                            <td>@item.DateTimeCovered</td>
                            <td>@item.Duration</td>
                            <td>@item.Remarks</td>
                            @if (@item.Status == "APPROVED") { 
                                <td class="text-center" style="color:green; font-size:12px;">@item.Status</td>
                            }
                            else{
                                <td class="text-center" style="color:red; font-size:12px;">@item.Status</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> 

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () { $("#nt-table").dataTable(); });
    </script>
}